[data-md-color-scheme="default"] > * {
  --md-footer-fg-color: #000000de;
  --md-footer-fg-color--light: #0000008a;
  --md-footer-fg-color--lighter: #00000052;
  --md-footer-bg-color: #009485;
  --md-footer-bg-color--dark: #007a6c;
}
